<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC "-//APACHE//DTD LOG4J 1.2//EN" "http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/xml/doc-files/log4j.dtd">

<log4j:configuration debug="true">

    <appender name="fileAppender" class="org.apache.log4j.RollingFileAppender">
        <param name="File" value="/tmp/ttpVertex.log"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %p [%t] %c - %m%n"/>
        </layout>
    </appender>

    <!-- -Dlog4j.configuration=log4j-dev.xml if different envos will be added -->

    <logger name="HttpVertex">
        <level value="warn"/>
    </logger>

    <root>
        <level value="DEBUG"/>
        <appender-ref ref="fileAppender"/>
    </root>

</log4j:configuration>
